version: "3.8"
networks:
  roboshop:
    driver: bridge
services:
  web:
    image: web:v1
    ports:
      -  "80:80"
    container_name: web
    depends_on:
      -  catalogue
      -  user
      -  cart
      -  shipping
      -  mysql
  mongodb:
    image: mongodb:v1
    container_name: mongodb
  catalogue:
    image: catalogue:v1
    container_name: catalogue
    depends_on:
      -  mongodb
  user:
    image: user:v1
    container_name: user
    depends_on:
      -  redis
      -  mongodb
  redis:
    image: redis
    container_name: redis
  cart:
    image: cart:v1
    container_name: cart
    depends_on:
      -  redis
  mysql:
    image: mysql:v1
    container_name: mysql
  shipping:
    image: shipping:v1
    container_name: shipping
    depends_on:
      -  mysql

